.form-wrapper {
  padding-top: 10px;
  margin: 0 auto;
}

.form {
  background-color: #DA7B93;
  padding: 15px;
  border-radius: 15px;
  display: none;
  flex-direction: column;
}

.form-active {
  display: flex;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px;
  border-radius: 10px;
}

textarea {
  resize: none;
  height: fit-content;
}

.item-lable {
  font-size: 16px;
}

.button-group {
  align-self: end;
  margin-top: 10px;
}

.button {
  padding: 10px;
  border-radius: 10px;
}

.decline-btn {
  background-color: #C3073F;
}

.decline-btn:hover {
  background-color: #a90335;
}

.confirm-btn {
  background-color: #376E6F;
  color: white;
}

.confirm-btn:hover {
  background-color: #28595a;
}

