*, 
*::before, 
*::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #2F4454;

}
ul {
  padding: 0;
}
ul>li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

button, input {
	outline: none;
  border: none;
  cursor: pointer;
}