table,
th,
td {
  border: 1px solid;
}

table {
  border-spacing: 0;
}

th,
td {
  padding: 5px 10px;
  border-top-width: 0;
  border-left-width: 0;
}

th:last-child,
td:last-child {
  border-right-width: 0;
}

tr:last-child td {
  border-bottom-width: 0;
}

.table-wrapper {
  width: 50%;
  margin: 10px 0 0 10px;
}

.table {
  background-color: #C2CAD0;
}

.about {
  display: block;
  display: -webkit-box;
  margin: 0 auto;
  line-height: 1.6;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.color-cell {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 auto;
}
